.quick-pick {
    display:flex;
}

.song-list li{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.song-item {
    width: fit-content;
    height: fit-content;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

button.add-favorite-btn {
    margin-left:10px;
}

a.download-button {
    position:relative;
    top:10px;
}

.audio-1 {
    position:relative;
    top:20px;
    margin-left:40px;
}

.add-favorite-btn-2 {
    position:relative;
    padding: 10px 20px;
    background-color: #00A0FF;
    color: #fff;
    margin-left:350px;
    top:-35px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}


.download-button {
    padding: 10px 20px;
    background-color: #00A0FF;
    color: #fff;
    border: none;
    border-radius: 20px;
}

.download-button:hover {
    background-color: #0088FF;
}

.add-favorite-btn-1 {
    position:relative;
    padding: 10px 20px;
    background-color: #00A0FF;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.add-favorite-btn:hover {
    background-color: #0088FF;
}