
.song-list li{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.song-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 50px;
    border-radius: 20px;
    background-color: #f9f9f9;
}

.song-cover {
    margin-right: 15px;
    margin-left: -25px;
    border-radius: 10px;
}

.song-info {
    margin-top: 100px;
    text-align: left;
}

audio {
    margin-top: 10px;
    margin-left: -90px;
}

.download-button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #0056b3;
}
