{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'start/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'start/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'start/css/layout.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css">
    {% block extrastyles %}
    {% endblock %}

</head>
<body>
<header>
    <nav class="header-nav">
        <div class="logo">
            <a href="{% url 'index' %}">
            <img src="{% static 'start/img/rhythmeriddle.png' %}">
            </a>
        </div>
        <ul class="menu">
            <li><a href="{% url 'puzzle' %}" class="nav-link">Пазлы</a></li>
            <li><a href="{% url 'search' %}" class="nav-link">Музыка</a></li>
            <li><a href="{% url 'feed' %}" class="nav-link">Главная</a></li>
            <li><a href="{% url 'playlists' %}" class="nav-link">Плейлисты</a></li>
            <li><a href="{% url 'subscription' %}" class="nav-link">Подписка</a></li>
        </ul>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const currentUrl = window.location.pathname;

                const navLinks = document.querySelectorAll(".nav-link");

                navLinks.forEach(link => {

                    if (link.getAttribute("href") === currentUrl) {
                        link.classList.add("active");
                    }
                });
            });
        </script>
    </nav>

    <select id="country">
        <option value="russia">Русский</option>
        <option value="eng">Английский</option>
    </select>
    <div class="header-user-icon" id="user-menu-toggle">
        <img src="{% static 'start/img/user-icon.png' %}" />
        <div class="user-menu" id="user-menu" style="display: none;">
            <img src="{% static 'main/img/user.png' %}" alt="User Photo" class="user-photo">
            <a href="{% url 'favorites' %}" class="user-link">Избранные</a>
            <a href="{% url 'account_data' %}" class="user-link">Настройки</a>
            <a href="{% url 'logout' %}" class="user-link">Выйти</a>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const userMenuToggle = document.getElementById("user-menu-toggle");
            const userMenu = document.getElementById("user-menu");

            userMenuToggle.addEventListener("click", (event) => {
                userMenu.style.display = userMenu.style.display === "none" || userMenu.style.display === "" ? "block" : "none";

                // Закрыть меню при клике вне меню
                document.addEventListener("click", (e) => {
                    if (!userMenuToggle.contains(e.target)) {
                        userMenu.style.display = "none";
                    }
                });
            });
        });
    </script>

</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="{% static 'start/img/rhythmeriddle.png' %}">
        </div>
        <div class="footer-links">
            <a href="{% url 'about' %}">О нас</a>
            <a href="{% url 'advertising' %}">Реклама</a>
            <a href="{% url 'rules' %}">Пользовательское соглашение</a>
            <a href="{% url 'support' %}">Поддержка</a>
        </div>
        <div class="footer-socials">
            <a href="#"><img src="{% static 'start/img/yt.png' %}" alt="YouTube"></a>
            <a href="#"><img src="{% static 'start/img/vk.png' %}" alt="VK"></a>
            <a href="#"><img src="{% static 'start/img/tg1.png' %}" alt="Telegram"></a>
        </div>
    </div>
    <p class="footer-copyright">РитмРиддл © 2024. Все права защищены.</p>
</footer>
</body>
</html>
