{% extends 'main/layout.html' %}
{% load static %}
{% block extrastyles %}
    <link rel="stylesheet" href="{% static 'main/css/search.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/song_label.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/modal.css' %}">
    <script src="https://unpkg.com/wavesurfer.js@7.8.10/dist/wavesurfer.min.js"></script>
{% endblock %}
{% block content %}
<div class="search-container">
    <form method="GET" action="{% url 'search' %}">
        <input class="input-1" type="text" name="q" placeholder="Поиск по названию или исполнителю" value="{{ query }}">
        <button type="submit" class="search-btn">Поиск</button>
        <div class="filter-container">
            <select name="genre" onchange="this.form.submit()" class="genre">
                <option value="">Выберите жанр</option>
                {% for genre, label in unique_genres.items %}
                    <option value="{{ genre }}" {% if genre == request.GET.genre %} selected {% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
            <select name="artist" onchange="this.form.submit()" class="artist">
                <option value="">Выберите исполнителя</option>
                {% for artist in unique_artists %}
                    <option value="{{ artist }}" {% if artist == request.GET.artist %} selected {% endif %}>{{ artist }}</option>
                {% endfor %}
            </select>
        </div>
    </form>

    <div class="song-list-1">
        {% for song in songs %}
            <div class="song-item-1"
                 data-audio="{{ song.file.url }}"
                 data-title="{{ song.title }}"
                 data-artist="{{ song.artist }}"
                 data-song-id="{{ song.id }}">
                {% if song.cover %}
                    <img src="{{ song.cover.url }}" alt="{{ song.title }} cover" class="cover-image">
                {% endif %}
                <div class="song-info-1">
                    <h3>{{ song.title }}</h3>
                    <p>{{ song.artist }}</p>
                </div>

                <form action="{% url 'add_favorite' song.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="add-favorite-btn-3">❤</button>
                </form>

            </div>
        {% empty %}
            <p>Нет результатов для отображения.</p>
        {% endfor %}
    </div>

    <div id="info-player" class="info-player">
        <span id="currentTrack" class="audio-player--title">Название песни</span>
        <div id="track-title" class="audio-player--artist">Исполнитель</div>
    </div>

    <div id="audio-player" class="audio-player">
        <button id="play-pause">
            <img src="{% static 'main/img/play-button.png' %}" alt="Play" class="icon">
        </button>
        <button id="mute-unmute">
            <img src="{% static 'main/img/volume.png' %}" alt="Mute" class="icon">
        </button>
        <input type="range" id="volume-bar" min="0" max="1" step="0.001" value="1">
    </div>

    <div id="progress-bar-player" class="progress-bar-player">
        <span id="current-time">0:00</span>
        <input type="range" id="progress-bar" min="0" max="100" value="0">
        <span id="duration">0:00</span>
    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const player = WaveSurfer.create({
            container: document.createElement("div"),
            waveColor: "blue",
            progressColor: "#007bff",
            responsive: true,
            hideScrollbar: true,
            height: 0,
            color: "blue"
        });

        const playPauseButton = document.getElementById("play-pause");
        const muteButton = document.getElementById("mute-unmute");
        const progressBar = document.getElementById("progress-bar");
        const volumeBar = document.getElementById("volume-bar");
        const currentTimeDisplay = document.getElementById("current-time");
        const durationDisplay = document.getElementById("duration");
        const currentTrackElement = document.getElementById("currentTrack");
        const trackTitle = document.getElementById("track-title");

        let currentTrack = null;

        function formatTime(seconds) {
            const minutes = Math.floor(seconds / 60);
            const secs = Math.floor(seconds % 60);
            return `${minutes}:${secs < 10 ? "0" : ""}${secs}`;
        }

        function incrementPlayCount(songId) {
            fetch(`increment_play_count/${songId}/`, { method: 'POST', headers: { 'X-CSRFToken': '{{ csrf_token }}' } })
                .then(response => response.json())
                .then(data => {
                    console.log('Play count updated:', data.play_count);
                })
                .catch(error => console.error('Error updating play count:', error));
        }

        function loadTrack(audioSrc, title, artist, songId) {
            if (currentTrack === audioSrc) {
                player.playPause();
            } else {
                currentTrack = audioSrc;
                player.stop();
                player.load(audioSrc);
                player.once('ready', () => {
                    player.play();
                    playPauseButton.innerHTML = player.isPlaying()
                        ? `<img src="{% static 'main/img/play.png' %}" alt="Pause" class="icon">`
                        : `<img src="{% static 'main/img/play-button.png' %}" alt="Play" class="icon">`;
                    currentTrackElement.textContent = title;
                    trackTitle.textContent = artist;

                    incrementPlayCount(songId);
                });
            }
        }

        // Слушаем события игрока
        player.on("ready", () => {
            durationDisplay.textContent = formatTime(player.getDuration());
            progressBar.value = 0;
            progressBar.max = player.getDuration();
        });

        player.on("audioprocess", () => {
            const currentTime = player.getCurrentTime();
            currentTimeDisplay.textContent = formatTime(currentTime);
            progressBar.value = currentTime;
        });

        player.on("finish", () => {
            playPauseButton.innerHTML = player.isPlaying()
                ? `<img src="{% static 'main/img/play.png' %}" alt="Pause" class="icon">`
                : `<img src="{% static 'main/img/play-button.png' %}" alt="Play" class="icon">`;
            progressBar.value = 0;
            currentTimeDisplay.textContent = "0:00";
            currentTrack = null;
        });

        playPauseButton.addEventListener("click", () => {
            player.playPause();
            playPauseButton.innerHTML = player.isPlaying()
                ? `<img src="{% static 'main/img/play.png' %}" alt="Pause" class="icon">`
                : `<img src="{% static 'main/img/play-button.png' %}" alt="Play" class="icon">`;
        });

        muteButton.addEventListener("click", () => {
            const isMuted = player.getVolume() === 0;
            player.setVolume(isMuted ? 1 : 0);

            muteButton.innerHTML = isMuted
                ? `<img src="{% static 'main/img/volume.png' %}" alt="Mute" class="icon">`
                : `<img src="{% static 'main/img/mute.png' %}" alt="Unmute" class="icon">`;
        });

        progressBar.addEventListener("input", (e) => {
            const time = parseFloat(e.target.value);
            player.seekTo(time / player.getDuration());
        });

        volumeBar.addEventListener("input", (e) => {
            player.setVolume(e.target.value);
        });

        document.querySelectorAll(".song-item-1").forEach((songElement) => {
            songElement.addEventListener("click", () => {
                const audioSrc = songElement.getAttribute("data-audio");
                const title = songElement.getAttribute("data-title");
                const artist = songElement.getAttribute("data-artist");
                const songId = songElement.getAttribute("data-song-id");

                loadTrack(audioSrc, title, artist, songId);
            });
        });
    });
</script>
{% endblock %}