{% extends 'main/layout.html' %}
{% load static %}
{% block extrastyles %}
    <link rel="stylesheet" href="{% static 'main/css/search.css' %}">
{% endblock %}
{% block content %}
    <div>
        <div class="music-list">
            <div class="music-item">
                <h4>{{track.title}}</h4>
                <p>{{track.artists}}</p>
            </div>
            <div class="music-item">
                <h3>Название трека 2</h3>
                <p>Исполнитель: Артист 2</p>
            </div>
            <div class="music-item">
                <h3>Название трека 2</h3>
                <p>Исполнитель: Артист 2</p>
            </div>
            <div class="music-item">
                <h3>Название трека 2</h3>
                <p>Исполнитель: Артист 2</p>
            </div>
            <div class="music-item">
                <h3>Название трека 2</h3>
                <p>Исполнитель: Артист 2</p>
            </div>
        </div>
    </div>
{% endblock %}

