{% extends 'main/layout.html' %}
{% load static %}
{% block extrastyles %}
    <link rel="stylesheet" href="{% static 'start/css/subscription.css' %}">
{% endblock %}
{% block content %}
    <div>
        <section class="subscription-status">
            <p>Подписка до 01.01.2024</p>
            <h1>Лайт-версия</h1>
            <p>Вы на облегчённой версии подписки. Слушайте музыку, минимизируя в фоновом режиме. Сниженная стоимость подписки - 320 рублей.</p>
            <div class="subscription-buttons">
                <button class="cancel-btn">Отменить подписку</button>
                <button class="change-btn">Изменить план подписки</button>
            </div>
        </section>

        <section class="promo-text">
            <p>Не упустите шанс сделать ваши музыкальные моменты ещё ярче! Подписывайтесь прямо сейчас и наслаждайтесь музыкой, которую вы любите. При оформлении первой любой подписки — дарим пробный месяц бесплатно.</p>
            <div class="toggle-options">
                <!--# сделать кнопки ежегодная и ежемесячная-->
            </div>
        </section>

        <section class="plans">
            <div class="plan">
                <h3>Лайт</h3>
                <p class="original-price">400 ₽</p>
                <p class="discount-price">320 ₽</p>
                <ul>
                    <h6>- Отсутствие рекламы</h6>
                    <h6>- Слушать песни в фоновом режиме</h6>
                    <h6>- Неограниченные пропуски</h6>
                    <h6>- Выбор плейлистов и артистов</h6>
                    <h6>- Выбор плейлистов в профиле</h6>
                </ul>
                <button class="subscribe-btn1">Начать с лайт-подпиской</button>
            </div>
            <div class="plan premium">
                <h3>Премиум</h3>
                <p class="original-price">1000 ₽</p>
                <p class="discount-price">800 ₽</p>
                <ul>
                    <h6>- Отсутствие рекламы</h6>
                    <h6>- Слушать песни в высоком качестве</h6>
                    <h6>- Неограниченные пропуски песен</h6>
                    <h6>- Выбор музыки в отдельных плейлистах</h6>
                    <h6>- Уникальные еженедельные задания</h6>
                </ul>
                <button class="subscribe-btn2">Начать с премиум-подпиской</button>
            </div>
        </section>


        <section class="faq">
            <h2>Часто задаваемые вопросы</h2>
                  <details>
                    <summary>Можно ли оформить подписку без привязки банковской карты?</summary>
                    <p>Да, мы предлагаем несколько альтернативных вариантов. Обратитесь в наш центр поддержки.</p>
                  </details>
                  <details>
                    <summary>Что мне делать, если я отменил подписку до конца пробного периода?</summary>
                    <p>Вы всегда можете повторно подписаться до окончания пробного периода.</p>
                  </details>
                            <details>
                    <summary>Смогу ли я отменить подписку до конца пробного периода?</summary>
                    <p>Да, отмена доступна в любое время, без штрафов.</p>
                  </details>
                            <details>
                    <summary>Возникли проблемы при оформлении подписки, что делать?</summary>
                    <p>Обратитесь в поддержку для быстрого решения.</p>
                  </details>
                            <details>
                    <summary>Можно ли изменить план подписки?</summary>
                    <p>Да, изменения возможны через настройки профиля.</p>
                  </details>
        </section>
    </div>
{% endblock %}